<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Kjøleskap-App</name>
    <description>
        Allows you to keep track of your refridgerator items
    </description>
    <author email="stein_myhr@hotmail.com">
        Stein Arild Myhr
    </author>
</widget>
