.ulContainer {

}

li {
  list-style: none;
  float: left;
}

#myLI {
  margin-left: 9.5px;
  margin-bottom: 2px;
}
#myLI2 {
  margin-left: 41px;
  margin-right: 10px;
  margin-bottom: 2px;
}
#myLI3 {
  margin-left: 33.5px;
  margin-right: 10px;
  margin-bottom: 2px;
}
#myLI4 {
  margin-left: 30px;
  margin-right: 10px;
}

#li1 {
  margin-right: 10px;
}
#li2 {

}
#li3 {

}
#li4 {

}

button {
  width: 60px;
}
input {

}

@media only screen and (max-width: 440px) {
  body {
    background-color: black;
    max-width: 480px;
    margin: 0 auto;
  }

  .ulContainer {
    background: orange;
    height: 500px;
    padding-top: 1%;
    margin-top: 0%;
  }

  li {
    list-style: none;
    float: left;
    font-weight: bold;
  }

  #topPic {
    width: 100%;
    height: 350px;
    opacity: 0.5;
  }

  h1 {
    position: absolute;
    top: 0;
    left: 2%;
    color: white;
  }

  #myLI {
    margin-left: 9.5px;
    margin-bottom: 2px;
  }
  #myLI2 {
    margin-left: 41px;
    margin-right: 10px;
    margin-bottom: 2px;
  }
  #myLI3 {
    margin-left: 33.5px;
    margin-right: 10px;
    margin-bottom: 2px;
  }
  #myLI4 {
    margin-left: 30px;
    margin-right: 10px;
  }

  #li1 {
    margin-right: 10px;
    margin-top: 8%;
  }
  #li2 {
    margin-top: 8%;
  }
  #li3 {
    margin-top: 8%;
  }
  #li4 {
    margin-top: 8%;
  }

  button {
    width: 60px;
    border: none;
    height: 30px;
    box-shadow: 2px 2px black;
    font-weight: 700;
    margin-top: 2%;
    margin-left: 10%;
  }
  input {

  }
}
